gpu-check1.py
BaseSystem.img
blobs/*.apb
blobs/stale/*.apb
blobs/user/*.apb
./*xml
resources/config.sh
baseConfig
scripts/__pycache__/
scripts/__pycache__/dlosx.cpython-310.pyc
HDD.qcow2
boot.sh
scripts/BaseSystem.dmg
boot/EFI/*
boot/OpenCore.qcow2
boot/config.plist
.vscode
vfio-args.txt
willthisbedetected.sh
resources/WEBVERSION
boot-noPT.sh
ovmf/OVMF_VARS-1280x720.fd
setup.py
resources/script_store/*.py
resources/script_store/*.sh
resources/script_store/*.json
resources/script_store/extras/*.py
resources/script_store/extras/*.sh
resources/script_store/restore/*.py
resources/script_store/restore/*.sh
INTERNAL_CHECKLIST.pdf
INTERNAL_CHECKLIST.txt
internal/*
logs/*
resources/.webversion
ovmf/OVMF_CODE.fd
ovmf/OVMF_VARS.fd
ovmf/user_store/OVMF_VARS.fd
boot/opencore-image-ng.sh
boot/mnt
docs/screenshots/ventura
BaseSystem.dmg
.gitignore
boot.xml
ovmf/OVMF_VARS_PT.fd
resources/.notices
boot-noUSB.sh
