.slide {
  background-color: #170231;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .overlap-wrapper {
  background-color: #170231;
  overflow: hidden;
  width: 1920px;
  height: 2092px;
}

.slide .overlap {
  position: relative;
  width: 2150px;
  height: 2092px;
}

.slide .background-pattern {
  position: absolute;
  width: 1920px;
  height: 2092px;
  top: 0;
  left: 0;
}

.slide .landing {
  position: absolute;
  width: 2150px;
  height: 2009px;
  top: 83px;
  left: 0;
}

.slide .overlap-group {
  position: relative;
  width: 2152px;
  height: 2009px;
}

.slide .QEMU-bird {
  position: absolute;
  width: 1032px;
  height: 1521px;
  top: 26px;
  left: 888px;
}

.slide .transition {
  position: absolute;
  width: 2152px;
  height: 1469px;
  top: 540px;
  left: 0;
}

.slide .rectangle {
  position: absolute;
  width: 1920px;
  height: 1053px;
  top: 416px;
  left: 0;
  background-color: #170232;
}

.slide .div {
  position: absolute;
  width: 1920px;
  height: 416px;
  top: 0;
  left: 0;
}

.slide .vector {
  position: absolute;
  width: 1816px;
  height: 207px;
  top: 168px;
  left: 104px;
}

.slide .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 379px;
  top: 37px;
  left: 0;
  background: linear-gradient(180deg, rgba(23, 2, 50, 0) 0%, rgb(23, 2, 50) 100%);
}

.slide .text-wrapper {
  position: absolute;
  top: 0;
  left: 112px;
  background: linear-gradient(
    180deg,
    rgb(255, 102, 0) 0%,
    rgb(184.88, 68.96, 53.15) 33.76%,
    rgb(141.31, 34.74, 74.49) 70.62%,
    rgb(59, 67, 113) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Cabin-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 256px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .header {
  position: absolute;
  width: 811px;
  height: 581px;
  top: 0;
  left: 112px;
  background-color: transparent;
}

.slide .overlap-2 {
  position: relative;
  width: 807px;
  height: 581px;
}

.slide .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Cabin-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 256px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .text-wrapper-3 {
  position: absolute;
  top: 270px;
  left: 0;
  text-shadow: 0px 5px 10px #000000a6;
  font-family: "Cabin-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 256px;
  letter-spacing: 0;
  line-height: normal;
}

.slide .nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.slide .rectangle-3 {
  position: relative;
  width: 1920px;
  height: 112px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 35.42%, rgba(0, 0, 0, 0) 100%);
}

.slide .ultmoslite {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 23px;
  left: 145px;
  object-fit: cover;
}

.slide .text-wrapper-4 {
  position: absolute;
  top: 20px;
  left: 230px;
  font-family: "Cabin-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}
