---
const files = await Astro.fetchContent('../content/docs/changelogs/**/*.md');

// Sort by filenames in descending order
const sortedFiles = files.sort((a, b) => b.fileName.localeCompare(a.fileName));
---

<ul>
  {sortedFiles.map(file => (
    <li>
      <a href={file.url}>{file.frontmatter.title || file.fileName}</a>
    </li>
  ))}
</ul>