// custom SCSS (or CSS) goes here

.everything {

  display: absolute;
  background-image: url("https://static1.squarespace.com/static/5e949a92e17d55230cd1d44f/t/666797c50267ef33983aa221/1718065110482/SequoiaDark.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}