// custom SCSS (or CSS) goes here

html {

  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}

.main {

  background-color: rgba($body-background-color, 0.94);
  backdrop-filter: blur(500px);
  -webkit-backdrop-filter: blur(500px);
  min-height: 100vh;

}

.side-bar {

  background-color: rgba($sidebar-color, 0.7);
  backdrop-filter: blur(25px);

}