---
import WindowControl from "./WindowControl.astro";
---

<div class="flex justify-start gap-[8px] px-[0.5rem] pb-1">
  <WindowControl color="#FF5F57" />
  <WindowControl color="#FEBC2E" />
  <WindowControl color="#28C840" />
</div>
